PORT=3001
PUBLIC_BASE_URL=http://localhost:3001
PARSER_BATCH_MAX_COUNT=100
PARSER_MIN_ID_LENGTH=5
PARSER_MAX_ID_LENGTH=9
PARSER_DEFAULT_ID_LENGTH=6
PARSER_BATCH_CONCURRENCY=1
PARSER_BATCH_ATTEMPT_MULTIPLIER=18
PARSER_MAX_CONCURRENT_PAGES=1
PARSER_DELAY_MIN_MS=2200
PARSER_DELAY_MAX_MS=4200
PARSER_COOLDOWN_MS=1800000
PARSER_NAVIGATION_TIMEOUT_MS=15000
PARSER_OPERATION_TIMEOUT_MS=12000
IMAGE_CACHE_TTL_MS=600000
IMAGE_CACHE_MAX_ENTRIES=100
